<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <style>
         body {
            background-color: #fafafa
        }

        .primary-color {
            background-color: #03a9f4 !important;
        }

        .secondary-color {
            background-color: #448aff !important;
        }
        
        .center-col {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
    </style>

    <title>{{.Title}}</title>
</head>

<body>
    <div class="container">
        <!-- Page Content goes here -->

        <div class="row center-col">
            <div>

                <div class="row">
                    <div class="card-panel grey lighten-5 z-depth-1">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img src="{{.OrgAvatar}}" alt="" class="circle responsive-img">
                                <!-- notice the "circle" class -->
                            </div>
                            <div class="col s10">
                                <h6>
                                   {{.Message}}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>

        

            </div>
        </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
</body>

</html>